@charset "utf-8";
/* CSS Document */

/* element public */
*{margin:0;padding:0;box-sizing:border-box;
}
html body{font-size:12px;font-family:"Microsoft YaHei";color:#333;background-color:#fff;
}
a{color:#666;text-decoration:none;cursor:pointer;
}
a:hover{color:#979660;
}

/*container*/
.container{width:100%;float:left;
}

/*wrapper*/
.wrapper{width:1060px;background-color:#979660;margin:0 auto;overflow:hidden
}

/*header*/
.header{width:1060px;height:110px;background-color:#fdf9f0;float:left;
}
.header_logo{width:200px;height:110px;line-height:110px;font-size:32px;font-weight:bold;float:left;
}
.header_logo a{color:#979660;margin-left:20px;
}
.header_nav{width:860px;height:30px;line-height:30px;font-size:14px;font-weight:bold;text-align:right;margin-top:50px;float:left;
}
.header_nav a{color:#979660;margin-right:20px;
}

/*focus*/
.focus{width:1060px;height:440px;float:left;
}
.focus img{width:1060px;height:440px;float:left; 
}

/*main*/
.main{width:800px;float:left;
}
.main article{width:800px;float:left;
}
.main article section{width:233px;margin:25px 0 0 25px;padding-bottom:10px;float:left;
}
.main article section img{width:233px;height:180px;float:left;
}
.main article section h3{width:233px;height:20px;line-height:20px;margin-top:12px;float:left;
}
.main article section h3 a{color:#ffffff;
}
.main article section p{width:233px;line-height:25px;margin-top:6px;float:left;
}
.main article section p a{color:#ffffff;
}

/*side*/
.side{width:233px;background-color:#fdf9f0;margin-top:25px;float:left;
}
.side h2{width:203px;height:30px;line-height:30px;font-size:24px;margin:12px 0 15px 15px;float:left;
}
.side h2 a{color:#979660;
}
.side article{width:203px;line-height:25px;margin-left:15px;padding:12px 0 10px 0;float:left;border-top:1px dashed #979660;
}
.side article p{width:203px;line-height:25px;float:left;
}
.side article p a{color:#979660;
}
.side article span{width:203px;line-height:30px;text-align:right;margin-top:5px;float:left;
}
.side article span a{color:#979660;
}

/*banner*/
.banner{width:1060px;height:200px;float:left;
}
.banner img{width:1060px;height:200px;float:left;
}

/*menu*/
.menu{width:120px;margin:30px 0 0 30px;float:left;
}
.menu h3{width:120px;height:30px;line-height:30px;color:#ffffff;text-align:center;margin-bottom:2px;float:left;
}
.menu span{width:120px;height:40px;line-height:40px;text-align:center;float:left;border-bottom:1px dashed #e8e8e8;
}
.menu span a{color:#ffffff;
}

/*content*/
.content{width:820px;color:#ffffff;margin-left:30px;padding-bottom:10px;float:left;
}
.content article{width:820px;margin-top:30px;float:left;border-left:1px solid #ffffff;
}
.content article h3{width:750px;height:30px;line-height:30px;font-size:16px;text-align:center;margin:0 0 10px 50px;float:left;
}
.content article p{width:750px;line-height:25px;font-size:13px;text-indent:25px;margin:5px 0 5px 50px;float:left;overflow:hidden;
}
.content article p span{width:232px;text-indent:0;margin-right:15px;float:left;
}

.word{width:820px;height:550px;color:#ffffff;margin:30px 0 0 30px;padding-bottom:30px;float:left;border-left:1px solid #e8e8e8;
}
.word p{float:left;width:820px;height:55px;margin-top:10px;
}
.word p span{float:left;width:230px;height:60px;line-height:60px;font-size:14px;text-align:right;
}
.word p input{float:left;width:330px;height:35px;margin:15px 0 0 10px;
}
.word p b{float:left;width:130px;height:60px;line-height:60px;margin-left:20px;font-size:14px;font-weight:normal;
}
.word p input.submit{letter-spacing:3px;color:#979660;background-color:#fdf9f0;border:0;
}

/*footer*/
.footer{width:1060px;color:#979660;background-color:#fdf9f0;margin-top:25px;float:left;
}
.footer_nav{width:1060px;height:140px;font-size:14px;margin-top:40px;float:left;
}
.footer_nav span{width:212px;height:35px;line-height:35px;text-align:center;float:left;
}
.footer_nav a{color:#979660;
}
.footer_copyright{width:1060px;height:38px;line-height:38px;text-align:center;float:left;border-top:1px solid #979660;
}